* {
  transition: background-color .3s ease;
}

*::selection {
  background-color: var(--colour);
}

:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
}

.dark {
  --text: hsl(0, 0%, 95%);
  --background: hsl(0, 0%, 7%);
  --surface: hsl(0, 0%, 15%);
}

.light {
  --text: hsl(0, 0%, 5%);
  --background: hsl(0, 0%, 95%);
  --surface: hsl(0, 0%, 87.5%);
}